@{
    ViewData["Title"] = "Interesting Topic";
}





<h1>@ViewData["Title"]</h1>
<p>Welcome! You just got rickrolled!!</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h1>Image from the project resources</h1>


<img src="~/img/mycshouse.png">

